tqdm
transformers  # for huggingface transformers (to load GPT-2 checkpoints)
datasets  # for huggingface datasets (if you want to download + preprocess OpenWebText)
tiktoken  # for OpenAI's fast BPE code
loralib
langchain
# wandb  # for optional logging